<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MatixDatabaseLibrary.Properties.Settings.MATIX_GAMEConnectionString"
            connectionString="Data Source=ORENF;Initial Catalog=MATIX_GAME;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>